<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{productmanager.title}">Create Product</title>
</head>
<body>
<h1 th:text="#{productmanager.addnewproduct}"></h1>
<p>
    <a href="/admin/product-manager" th:text="#{productmanager.list}"></a>
</p>
<form th:action="@{/admin/create-product}" th:object="${product}" method="post">
    <table>
        <tr>
            <td th:text="#{productmanager.productname}">:</td>
            <td><input type="text" name="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td th:text="#{productmanager.productprice}">:</td>
            <td><input type="text" name="age" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td th:text="#{productmanager.productquantity}">:</td>
            <td><input type="text" name="age" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td th:text="#{productmanager.productdescription}">:</td>
            <td><input type="text" name="age" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td th:text="#{productmanager.productcategory}">:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td th:text="#{productmanager.image}"></td>-->
<!--            <td><input type="text" name="image" th:field="*{image}"></td>-->
<!--        </tr>-->
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{productmanager.create}"></td>
        </tr>
    </table>
</form>
</body>
</html>