<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin.html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{productmanager.delete.title}"></title>
</head>
<body>
<section layout:fragment="content" class="container-xl mt-5 mb-5">
    <h3 th:text="#{productmanager.delete.title}"></h3>
    <p>
        <a href="/admin/product-manager" th:text="#{productmanager.list}"></a>
    </p>
    <form th:action="@{/admin/delete-product}" th:object="${product}" method="post">
        <input hidden type="text" name="id" th:field="*{id}">
        <div class="form-group">
            <label th:text="#{productmanager.productname}"></label>
            <input class="form-control" disabled type="text" name="name" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label th:text="#{productmanager.productprice}"></label>
            <input class="form-control" disabled type="text" name="price" th:field="*{price}"/>
        </div>
        <div class="form-group">
            <label th:text="#{productmanager.productquantity}"></label>
            <input class="form-control" disabled type="text" name="quantity" th:field="*{quantity}"/>
        </div>
        <div class="form-group">
            <label th:text="#{productmanager.productdescription}">:</label>
            <input class="form-control" disabled type="text" name="description" th:field="*{description}"/>
        </div>
        <div class="form-group">
            <label th:text="#{productmanager.productcategory}"></label>
            <input class="form-control" disabled type="text" th:value="${cat.getName()}">
        </div>
        <div>
            <div class="row mt-3">
                <div class="mb-3 col-6 d-flex justify-content-center align-items-center" th:each="image : ${images}">
                    <img th:src="@{/{fileName}(fileName=${image.getFileName()})}" alt="404 error"
                         style="width: 300px;height: 200px">
                </div>
            </div>
        </div>

        <input class="btn btn-danger" type="submit" th:value="#{productmanager.delete}">
        <a class="btn btn-info" th:text="#{productmanager.back}" th:href="@{/admin/product-manager}" />
    </form>
</section>
</body>
</html>