<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin.html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{productmanager.title}">Create Product</title>
</head>
<body>
<section layout:fragment="content" class="container-xl mt-5">
    <h3 th:text="#{productmanager.edit.title}" style="color: orange"></h3>
    <form th:action="@{/admin/create-product}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input hidden type="text" th:field="*{id}" name="id">
        <div class="form-group">
            <label for="name" th:text="#{productmanager.productname}"></label>
            <input class="form-control" type="text" name="name" id="name" th:field="*{name}" required/>
        </div>
        <div class="form-group">
            <label for="price" th:text="#{productmanager.productprice}"></label>
            <td><input class="form-control" type="number" required min="0" max="100000000" name="price" id="price"
                       th:field="*{price}"/></td>
        </div>
        <div class="form-group">
            <label for="quantity" th:text="#{productmanager.productquantity}"></label>
            <input class="form-control" id="quantity" type="number" min="0" max="1000" name="quantity"
                   th:field="*{quantity}"/>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{productmanager.productdescription}"></label>
            <input class="form-control" id="description" type="text" name="description" th:field="*{description}"/>
        </div>
        <div class="form-group">
            <label for="category" th:text="#{productmanager.productcategory}"></label>
            <select class="form-control" id="category" name="category" th:field="*{category}">
                <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" th:text="#{productmanager.images}"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input">
                <label class="custom-file-label" th:text="#{productmanager.choosefiles}"></label>
            </div>
        </div>

        <td><input type="submit" th:value="#{productmanager.create}"></td>
    </form>
    <div>
        <div class="row" th:each="image : ${images}">
            <img th:src="@{/showImage/{fileName}(fileName=${image.getFileName()})}" alt="404 error"
                 style="width: 200px;height: 130px">
            <button th:class="btn btn-danger delete-image" th:text="#{productmanager.delete}" data-th-id="${image.getId()}"></button>
        </div>

    </div>
</section>
</body>
</html>