<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin.html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{productmanager.title}">Create Product</title>
</head>
<body>
<section layout:fragment="content" class="container-xl mt-100 mb-5">
    <h3 th:text="#{productmanager.edit.title}" style="color: orange"></h3>
    <form th:action="@{/admin/edit-product/{id}(id=${product.getId()})}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input hidden type="text" th:field="*{id}" name="id">
        <div class="form-group">
            <label for="name" th:text="#{productmanager.productname}"></label>
            <input class="form-control" type="text" name="name" id="name" th:field="*{name}" required/>
        </div>
        <div class="form-group">
            <label for="price" th:text="#{productmanager.productprice}"></label>
            <td><input class="form-control" type="number" required min="0" max="100000000" name="price" id="price"
                       th:field="*{price}"/></td>
        </div>
        <div class="form-group">
            <label for="quantity" th:text="#{productmanager.productquantity}"></label>
            <input class="form-control" id="quantity" type="number" min="0" max="1000" name="quantity"
                   th:field="*{quantity}"/>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{productmanager.productdescription}"></label>
            <textarea class="form-control" id="description" type="text" name="description" th:field="*{description}">
            </textarea>
        </div>
        <div class="form-group">
            <label for="category" th:text="#{productmanager.productcategory}"></label>
            <select class="form-control" id="category" name="category" th:field="*{category}">
                <option th:each="c : ${category}" th:value="${c.getId()}" th:text="${c.name}"></option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" th:text="#{productmanager.images}"></span>
            </div>
            <div class="custom-file">
                <input type="file" name="files" class="custom-file-input" multiple />
                <label class="custom-file-label" th:text="#{productmanager.choosefiles}"></label>
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="mb-3 col-6 d-flex justify-content-center align-items-center" th:each="image : ${images}">
                    <img th:src="@{/upload/{fileName}(fileName=${image.getFileName()})}" alt="404 error"
                         style="width: 300px;height: 200px">
                    <a class="btn ml-3 btn-danger delete-image" th:text="#{productmanager.delete}"
                            data-th-img-id="${image.getId()}" style="max-height: 50px"></a>
                </div>
            </div>
        </div>
        <input class="btn btn-warning" type="submit" th:value="#{productmanager.save}">
        <a class="btn btn-info" th:text="#{productmanager.back}" th:href="@{/admin/product-manager}"/>
    </form>
    <script>
        $(".delete-image").on('click',function (e) {
            e.preventDefault();
            let id = this.getAttribute('img-id');
            let self = this;
            $.ajax({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                },
                url: '/admin/deleteimage/' + id,
                method: 'POST',
                success:function () {
                    self.parentElement.remove();
                }
            })
        })
    </script>
</section>
</body>
</html>