<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_users.html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content" class="container-xl mt-100 mb-5">
    <!--	<div th:text="${@router.map('HC#index')}"></div>-->
    <!--	<div th:text="${#mvc.url('HC#index').build()}"></div>-->
    <div class="row">
        <div class="col-lg-3">
            <div class="card user-intro-box mb-30">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3>Intro</h3>

                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bx bx-show"></i> View
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bx bx-edit-alt"></i> Edit
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bx bx-trash"></i> Delete
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bx bx-printer"></i> Print
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bx bx-download"></i> Download
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p class="mb-0">Life Is Short Write Better Code....</p>

                    <button type="submit">Edit Bio</button>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
        </div>
    </div>
</section>
</body>
</html>
