<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_admin.html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{voucher.home.title}"></title>
</head>
<body>
<section layout:fragment="content" class="container-xl mt-5 mb-5">
    <div>
        <a th:href="@{/admin/vouchers/create}" class="btn btn-primary" th:text="#{voucher.create}"
           style="margin-bottom: 15px"></a>
    </div>
    <div>
        <ul>
            <li th:if="${edit_done}" th:text="#{voucher.message.editdone}" style="color: green"></li>
            <li th:if="${create_done}" th:text="#{voucher.message.createdone}" style="color: green"></li>
            <li th:if="${delete_done}" th:text="#{voucher.message.deletedone}" style="color: green"></li>
        </ul>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th th:text="#{voucher.id}"></th>
                <th th:text="#{voucher.date}"></th>
                <th th:text="#{voucher.code}"></th>
                <th th:text="#{voucher.campaign}"></th>
                <th th:text="#{voucher.discount}"></th>
                <th th:text="#{voucher.description}"></th>
                <th th:text="#{voucher.edit}"></th>
                <th th:text="#{voucher.delete}"></th>
            </tr>
            <tr th:each="voucher : ${vouchers}">
                <td th:text="${voucher.getId()}"></td>
                <td th:text="${@appFormatter.dateFormat(voucher.getCreatedAt())}"></td>
                <td th:text="${voucher.getCode()}"></td>
                <td th:text="${voucher.getCampaign()}"></td>
                <td th:text="${@appFormatter.currencyFormat(voucher.getDiscount())}"></td>
                <td th:text="${voucher.getDescription()}"></td>
                <td><a class="btn btn-warning" th:href="@{/admin/vouchers/{id}/edit(id=${voucher.getId()})}"
                       th:text="#{voucher.edit}"></a></td>
                <td><a class="btn btn-danger" th:href="@{/admin/vouchers/{id}/delete(id=${voucher.getId()})}"
                       th:text="#{voucher.delete}"></a></td>
            </tr>
        </table>
    </div>

</section>

</body>
</html>